@import url(https://db.onlinewebfonts.com/c/8ca2a74639a88909f99af766fa0c4d40?family=Mason);
@import url('https://fonts.cdnfonts.com/css/texturina');

body {
    color: rgb(255, 255, 255);
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    font-size: 1.9rem;
    font-family: "Mason", Arial, sans-serif;
    margin: 0;
    padding: 0;
    position: relative;
}

body.menu {
    background-color: #000000;
    background-image: url(../imgs/8.jpg);
    background-attachment: fixed;
    background-size: cover;
}

.header {
    position: fixed;
    top: 0;
    left: 0;
    padding: 10px;
}

.header img {
    width: 100px;
    height: auto;
}

.row {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 100%;
}

.category {
    background-color: #000;
    opacity: 0.9;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(255, 255, 255, 0.2);
    padding: 20px;
    width: 45%;
    margin: 10px;
    color: white;
    box-sizing: border-box;
    min-width: 300px;
    flex-grow: 1;
}

.category h2 {
    margin-top: 0;
    margin-bottom: 15px;
    text-align: center;
    font-size: 1.8em;
}

.item {
    margin-bottom: 20px;
    background-color: #4d4d4d;
    border-radius: 10px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    cursor: pointer;
    transition: transform 0.3s ease;
}

.item:hover {
    transform: translateY(-5px);
}

.item img {
    width: 100%;
    height: auto;
    border-radius: 10px;
    transition: transform 0.3s ease;
}

.item:hover img {
    transform: scale(1.05);
}

.info {
    padding: 15px;
    text-align: center;
}

.info h3 {
    margin-top: 0;
    font-size: 1.5em;
    color: #b0a638;
}

.info p {
    margin: 10px 0;
    color: #fff;
    font-family: 'Texturina', sans-serif;
}

.price {
    font-weight: bold;
    font-size: 1.2em;
    color: #ff4500;
    text-align: right;
}

@media (max-width: 768px) {
    .category {
        width: 100%;
        margin: 5px 0;
    }

    .row {
        flex-direction: column;
        align-items: center;
    }
}
