@import url(https://db.onlinewebfonts.com/c/8ca2a74639a88909f99af766fa0c4d40?family=Mason);
body{
    background-image: url("../imgs/8.jpg");
    justify-content: center;
    display: flex;
    font-family: "Mason";
}

body.menu{
    background-color: #000000;
    background-image: url(/imgs/8.jpg);
    background-attachment: fixed;
    background-size: cover;
    
}

.product-class-container{
    display: block;
    align-items: center;
    opacity: 88%;
    height: 100vh;
    width: 60vh;
    background-color: rgb(15, 15, 15);
    padding: 0px;
    margin: 0;
    margin-top: 15px;
}
.product-info-container{
    display: flex;
    color: aliceblue;
    justify-content:  space-between;
    align-items: normal;
}
.name-product{
    color: rgb(224, 207, 207);
    background-color: rgb(255, 255, 255);
    width:  150px;
    padding: -10px;
    margin: -20px ;
    outline: 2px solid rgb(134, 128, 128);
    opacity: 100%;
    justify-content: right;
    display: block;
    text-align: center;

}
.name-product > h1{
    color: rgb(0, 0, 0);
}



product-info ,product-price{
    color: white;
}

upper-title{
    color: rgb(255, 234, 0);
    background-color: aliceblue;
}

title-container{
    color: rgb(255, 234, 0);
    background-color: aliceblue;
}
